@font-face{font-family: 'main-ui';src: url('InterVar.ttf');}
@font-face{font-family: "Material Symbols Rounded";src: url('Fonts/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');}
.material-symbols-rounded {font-family: 'Material Symbols Rounded';-moz-font-feature-settings: 'liga';-moz-osx-font-smoothing: grayscale;display: inline-block;}
html,body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: main-ui;
}
button{font-family: inherit;}
popup{
    width: fit-content;
    position: absolute;
    background-color: #d8d8d8c5;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px;
    animation: open-popup 0.2s;
}
notification,popup{
    backdrop-filter: blur(20px);
}
popup input[type=range]{accent-color: #5249499c;}

popup[closing]{
    padding: 10px;
    opacity: 0;
    transition: 0.2s;
}
flex {
	justify-content: center;
	align-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 4px;
}
@keyframes open-popup{
    from{
    opacity: 0;
        padding: 10px;
    }
    to{
        padding: 20px 10px;
    opacity: 1;
    }
}
full{
    display: flex;
    flex-direction: column;
}
dashboard{
    background-color: #d8d8d8;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.2s;
    padding: 10px 0px;
}
popup [io]{
margin: 0px;
  transform: translateY(-10px);
  color: #636363;
  font-weight: 665;
  font-size: 15px;
}
dashboard button[action] {
	border-radius: 50px;
	border: none;
	background: #0000002b;
	color: white;
	font-size: 24px;
	height: 32px;
    cursor: pointer;
	width: 32px;
	align-items: center;
	display: flex;
}
dashboard[visible=no]{
transform: translateY(-100%);
}
[float=float]{
    position: fixed;
    top: 10px;
    z-index: +999;
    left: 10px;
transform:translate(-77px,calc(100% + 10px));
}
popup button {
	background: #00000012;
	border: none;
	border-radius: 50px;
    cursor: pointer;
	font-size: 15px;
	padding: 3px 0px;
	margin: 0px 0px 14px;
}
popup button[selected]{
	background: #14141440;

}
cover {
	position: relative;
	display: block;
	width: fit-content;
	height: 100vh;
}
hvzoom{
    display: flex;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 50px;
    background-size: 500%;
    height: 50px;
}
popup[frame-rate] [warning]{
width: 247px;
}
popup [warning]{
  font-size: 12px;
  padding: 0px;
  margin: 0;
  color: #8f8f8f;
}
[stream=src]{
 transform: scale(1);
}
[stream=src][closed]{
    filter: brightness(0) !important;
}
[stream=src][flipping]{
    transform: scaleX(-1) !important;
    transition: 1s transform;
    perspective: 1000px;
    transform-style: preserve-3d;
}
popup[devices] p:not([warning], [io] ){
  padding: 4px 15px;
  margin: 2px 0px;
  font-size: 14px;
  background: #0000001c;
  text-align: left;
  border-radius: 7px;
  color: #0009;
}
notification {
	display: flex;
	width: fit-content;
	background: #ababab47;
	position: fixed;
	right: 10px;
	bottom: 10px;
    border-radius: 8px;
    padding: 4px 16px;
    min-width: 200px;
    align-items: center;
    animation: notif-in 0.3s ;
    max-width: 385px;
}
@keyframes notif-in{
    from{transform: translateX(50px);opacity: 0;}
    to{
        transform: translateX(0px);opacity: 1;
    }
}
flexcol {
	display: flex;padding-top: 4px;
	flex-direction: column;
}
notification[closing]{
    transition: 0.3s;
    transform: translateX(50px);opacity: 0;
}
flexcol p{font-size: 12px;}
flexcol *{
    padding: 0;margin: 0;
}
notification img{
    height: 44px;
  margin-right: 8px;
}
[action]:active span{
    font-weight: 250;
    transition: 0.2s;
}
[action]{transition: 0.1s}
dashboard button[filled] span{
    font-variation-settings: "FILL" 1 !important;
}
[empty]{opacity: 0;transform: scale(0.5) !important;transition: 0.3s;}
[level=error]{
    border: 1px solid #ff00002e;background: #ffbaba47;
  box-shadow: 0px 4px 10px #0404044d;
}
f{display: flex;width: 100%;height: 100%;position:fixed;top: 0;left: 0;justify-content: center;align-items: center;z-index: +88;pointer-events: none;}
[logo]{height: 22px;padding-left: 10px;}
flexR{display: flex;width: 100%;justify-content: center;transform: translateX(-87px);gap: 2px;}
