@font-face{font-family: 'main-ui';src: url('InterVar.ttf');}
@font-face{font-family: "Material Symbols Rounded";src: url('Fonts/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf');}
.material-symbols-rounded {font-family: 'Material Symbols Rounded';-moz-font-feature-settings: 'liga';-moz-osx-font-smoothing: grayscale;display: inline-block;}
html,body{
    padding: 0;margin: 0;overflow-x: hidden;font-family: main-ui;
}
button{font-family: inherit;}
a:link,a:visited,a{color: inherit !important;position: relative;}
a::before,[openlink]::before{content: '';position: absolute;bottom: 0;left: 0;width: 0%;height: 1px;background-color: rgba(0, 0, 0, 0.397);transition: 0.2s;}
a:hover::before,[openlink]:hover::before{width: 100%;}
:root{--backdrop-bg:#d8d8d8c5;--backdrop-bg-nonres:#d8d8d8;}
popup{
    width: fit-content;
    position: absolute;
    background-color: var(--backdrop-bg-nonres);
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    z-index: +90;
    border-radius: 0px 0px 15px 15px;
    animation: open-popup 0.2s;
}
[openlink]{position: relative;}
notification,popup{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
popup input[type=range]{accent-color: #5249499c;}

popup[closing]{
    padding: 10px;
    opacity: 0;
    transition: 0.2s;
}
flex {
	justify-content: center;
	align-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	gap: 4px;
}
@keyframes open-popup{
    from{
    opacity: 0;
        padding: 10px;
    }
    to{
        padding: 20px 10px;
    opacity: 1;
    }
}
full{
    display: flex;
    flex-direction: column;
}
dashboard{
    background-color: var(--backdrop-bg-nonres);
    width: 100%;
    backdrop-filter: blur(40px);-webkit-backdrop-filter: blur(40px);
    display: flex;
    align-items: center;
    transition: 0.2s;
    position: fixed;
    z-index: +999;
    padding: 10px 0px;
}
popup [io]{
margin: 0px;
  transform: translateY(-10px);
  color: #636363;
  font-weight: 665;
  font-size: 15px;
}
dashboard button[action] {
	border-radius: 50px;
	border: none;
	background: #0000002b;
	color: white;
	font-size: 24px;
	height: 32px;
    cursor: pointer;
	width: 32px;
	align-items: center;
	display: flex;
}
dashboard[visible=no]{
transform: translateY(-100%);
}
[float=float]{
    position: fixed;
    top: 10px;
    z-index: +999;
    left: 10px;
transform:translate(-77px,calc(100% + 10px));
}
popup button {
	background: #00000012;border: none;border-radius: 50px;cursor: pointer;font-size: 15px;padding: 3px 0px;margin: 0px 0px 14px;transition: 0.2s;display: flex;justify-content: center;align-content: center;text-align: center;gap: 5px;
}
popup button[selected]{
	background: #14141440;

}
cover {
	position: relative;
	display: flex;
	width: 100vw;
	height: 100vh; 
    gap: 2px;
}
[socialfoot]{margin: 15px 0px 0px 0px;align-items: center;}
[stream]{aspect-ratio: auto;}
[grid]{
    aspect-ratio: 16 / 9 ;
    object-fit: cover;
    transition: 0.2s aspect-ratio;
}
[social] p{padding: 0;margin: 0;}
linkindicator{font-size: 12px;padding: 1px 6px;border-radius: 0px 3px 0px 0px;display: block;position: fixed;bottom: 0;left: 0;background-color: var(--backdrop-bg-nonres);transition: 0.2s;animation: open-href 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);}
@keyframes open-href{from{transform: translateY(100%);}to{transform: translateY(0%);}}
linkindicator[closing]{transform: translateY(100%);}
[socialfoot] button{
  width: 32px;height: 32px;background: #ececec00;border-radius: 50px;border: none;cursor: pointer;position: relative;
}
[socialfoot] button::before{opacity:0 ;width: 100%;height: 100%;position: absolute;top: 0;left: 0;content: '';border-radius: 50px;background-color: rgba(156, 156, 156, 0.26);z-index: -1;transform: scale(0.8);transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);}
[socialfoot] button:hover::before{
transform: scale(1);opacity: 1;
}
hvzoom{
    display: flex;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 50px;
    background-size: 500%;
    height: 50px;
}
popup[frame-rate] [warning],popup[start-recording] [warning]{
width: 247px;
}
[warning],[social] p[openlink]{
  font-size: 12px;
  padding: 0px;
  margin: 0;
  color: #8f8f8f;
}
popup[start-recording] [warning]{font-size: 11px;}
[stream=src]{
 transform: scale(1);
}
[stream=src][closed]{
    filter: brightness(0) !important;
}
[stream=src][flipping]{
    transform: scaleX(-1) !important;
    transition: 1s transform;
    perspective: 1000px;
    transform-style: preserve-3d;
}
popup[devices] p:not([warning], [io] ){
  padding: 4px 15px;
  margin: 2px 0px;
  font-size: 14px;
  background: #0000001c;
  text-align: left;
  border-radius: 7px;
  color: #0009;
}
notification {
	display: flex;
	width: fit-content;
	background: #ababab47;
	position: fixed;
	right: 10px;
	bottom: 10px;
    border-radius: 8px;
    padding: 4px 16px;
    min-width: 200px;
    align-items: center;
    animation: notif-in 0.3s ;
    max-width: 385px;
}
@keyframes notif-in{
    from{transform: translateX(50px);opacity: 0;}
    to{
        transform: translateX(0px);opacity: 1;
    }
}
flexcol {
	display: flex;padding-top: 4px;
	flex-direction: column;
}
notification[closing]{
    transition: 0.3s;
    transform: translateX(50px);opacity: 0;
}
flexcol p{font-size: 12px;}
flexcol *,flexc *{padding: 0;margin: 0;}
flexc{display: flex;flex-direction: column;margin-left: 11px;justify-content: center;}
ul{margin-left: 17px;color: #919191;font-size: 13px;margin-top: 8px;}
notification img{
    height: 44px;
  margin-right: 8px;
}
[action]:active span{font-weight: 250;transition: 0.2s;}
[eachinfo]:not([eachinfo]:last-child){padding: 3px 0px;border-bottom: 1px solid #ddd;}
[eachinfo]:last-child{padding-top: 3px;}
[align='right']{position: absolute;right: 0;color: #848488;}
[eachinfo]{width: 100%;position: relative;cursor: text;}
info{cursor: default; display: flex;height: fit-content;background-color: #ffffff;width: 100%;flex-direction: column; position: relative;margin-top: 10px;padding: 10px;box-sizing: border-box;border-radius: 15px;}
expandable[info]{height: auto;transition: 0.2s;display: block;overflow: clip;background: rgba(151, 151, 151, 0.27);padding: 6px;border-radius: 11px;cursor: pointer;}
expandable p{padding: 0;margin: 0;}
expandable[info][collapsed]{height: 20px;}
[action]{transition: 0.1s}
dashboard button[filled] span{font-variation-settings: "FILL" 1 !important;}
[empty]{opacity: 0;transform: scale(0.5) !important;transition: 0.3s;}
[level=error]{border: 1px solid #ff00002e;background: #ffbaba47;box-shadow: 0px 4px 10px #0404044d;}
[social] p[openlink]{cursor: pointer;margin-right: 15px;}
[social] p[openlink]::after {content: '🡥';font-size: 7px;position: absolute;margin-left: 2px;}
f{display: flex;width: 100%;height:calc(100% - 52px);position:fixed;top: 52px;left: 0;justify-content: center;align-items: center;z-index: +88;}
[nonrec]{pointer-events: none;top: 0;height: 100%;flex-direction: column;}
flpop[closing]{transform: scale(0.8);opacity: 0;}
scrollable{display: flex;flex-direction: column;overflow-y: scroll;scrollbar-width: thin;width: 100%;height: 100%;}
flpop{display: flex;z-index: 90;flex-direction: column;background-color: var(--backdrop-bg-nonres);width: 45%;min-height: fit-content; max-height: 85%;transition: 0.2s;position: relative;border-radius: 33px; backdrop-filter: blur(40px);-webkit-backdrop-filter: blur(40px);padding: 18px;box-sizing: border-box;}
[logo]{height: 22px;padding-left: 10px;}
flexR{display: flex;width: 100%;justify-content: center;transform: translateX(-87px);gap: 2px;z-index: +90;}
relborder {display: block;position: relative;width: fit-content;height: fit-content;transition: 0.2s cubic-bezier(.79,.14,.15,.86) filter;}
hvpanel{display: block;position: absolute;top: 10px;right: 10px;z-index: +99;color: white;font-size: 24px;text-shadow: 0px 0px 10px #00000054;transform: translateY(10px);opacity: 0;transition: 0.2s;}
relborder:hover hvpanel{transform: translateY(0px);opacity: 1;}
tooltip{max-width: 200px;box-shadow: 0px 2px 5px #0000003d;position: absolute;z-index: +9999;pointer-events: none;background-color: rgba(255, 255, 255, 0.705);backdrop-filter: blur(25px);-webkit-backdrop-filter: blur(25px);border-radius: 7px;font-size: 11px; color: #4e4e4e;padding: 1px 5px;animation: open-tool 0.3s ;transition: 0.2s;transform: translateY(0px)scale(1);opacity: 1;}
@keyframes open-tool{from{transform: translateY(-10px) scale(0.8,1.2);opacity: 0;}20%{opacity: 1;transform: translateY(5px) scaleY(1.2);}to{opacity: 1;transform: translate(0px) scale(1);}}
tooltip[closing]{transform: translateY(-10px) scale(0.8,1.2);opacity: 0;animation: none;}
FlexRR{display: flex;gap: 2px;margin-top: 5px;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0; 
}input[type=number] {-moz-appearance: textfield;background: #00000024;border: none;border-radius: 50px;padding: 4px;}
flexrr:not([update],[social]) *{height: 100%;width: 100%;font-family: inherit;}
flexrr input{width: 85%;}
flexrr button {flex-shrink: 2;}
popup button:active{transform: scale(1.05);filter: brightness(1.1);transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);}
[disabled]{opacity: 0.7;cursor:not-allowed;pointer-events: none;}
@media (max-width:667px){flexR {transform: translate(-50%,56px);position: fixed;left: 50%;}}
button[due]{background-color: rgb(34, 34, 34) !important;color: white !important;position: relative;z-index: 0;overflow: hidden;}
button[due]::before{content: '';left: 0;top: 0;width: 100%;height: 100%;position: absolute;background: rgba(255, 255, 255, 0.342);z-index: -1;border-radius: 50px;animation: inf-due 1.5s infinite;}
@keyframes inf-due{from{transform: scale(0);opacity: 0;}50%{transform: scale(1);opacity: 1;}to{transform: scale(2);opacity: 0;}}
flexrr[update] button,flexrr[cache] button{background: #0071e3;cursor: pointer;color: white;flex-shrink: 1 !important;border: none;width: fit-content;height:fit-content;border-radius: 6px;padding: 5px 9px;align-items: first baseline;}
seperator {display: list-item;width: 100%;background: #d4d1d1;margin: 12px 0px;height: 1px;overflow: visible;}
[uSureBoutit]{background:#e33a31 !important;}
button[busy]{position: relative;overflow: hidden;}
button[busy]::before{filter: blur(10px); width: 100%;height: 100%;content: '';position: absolute;top: 0;left: 0;background: rgba(255, 255, 255, 0.432);z-index: -1;animation: busy 3s linear infinite ;}
@keyframes busy{from{width: 0%;transform: translateX(0%);opacity: 0 !important;}50%{width: 100%;opacity: 0.5;}99.9%{transform: translateX(400%);width: 0%;opacity: 0;}to{opacity: 0;transform: translateX(0%);width: 0%;}}
[qr]{width: 148px;border-radius: 7px;box-shadow: 0px 10px 11px #0202024f;cursor: pointer;transition: 0.2s;height: 148px;}
[qr]:active{transform: scale(0.95);}
[flexR]{flex-direction: row;gap:10px;}
[warning=large]{font-size: 13px;font-weight: 700;margin: 6px 0px 1px 0px;}
[button=open]{background: #07070742;font-weight: 600; padding: 2px 6px; border-radius: 50px; mix-blend-mode: screen; color: beige;position: absolute; right: 5px; top: 12px;cursor: pointer;}
button[start]{padding: 3px 7px;box-sizing: border-box;margin-top: 10px !important;}[start-recording] button{margin: 1px;}
flpop[privacy] h1,[disconnected] h1{font-size: 25px;font-weight: 818;margin: 0;margin-bottom: 12px;}
flpop[privacy] p:not([warning]){padding: 0;margin: 0;font-size: 14px;color: #575555;}  
flpop[privacy]{box-shadow: 0px 6px 10px #00000029;}
flpop[privacy] [close],[disconnected] [close],flpop[link-camera] [close]{width: 24px;height: 24px;transition: 0.1s; position: absolute;top: 0;right: 0;border-radius: 50px;border: none;font-size: 17px;display: flex;align-items: center;justify-content: center;margin: 14px;padding: 4px;box-sizing: content-box;cursor: pointer;  background: #00000026;color: white;}
flpop[privacy] [close]:hover,[disconnected] [close]:hover,flpop[link-camera] [close]:hover{transform: rotate(180deg);}
[tooltip="open privacy statement"]{cursor: pointer;}
[nonusrpageinner]{pointer-events: all;  background: #0000003d;color: white;border: none;border-radius: 50px;padding: 5px 10px;cursor: pointer;}
[camicon]{  font-size: 66px;color: #c2c2c2;}
p:has([camicon]){  margin: 0;transform: translateY(20px);font-variation-settings: "FILL" 1;width: fit-content;}
[disconnected] p:has([camicon]){transform: none;user-select: none;}
[tab]{transition: font-variation-settings 0.2s; font-variation-settings:'FILL' 0;}
[tab='open']{font-variation-settings: "FILL" 1;}
relborder{overflow:auto;resize: both;scrollbar-width: none;border-radius: 10px;}
[stream=src]{width: 100%;height: 100%;pointer-events: none;border-radius: 10px;object-fit: cover;}
[disconnected] {flex-direction: row;align-items: center;width: fit-content;overflow: hidden;}
[disconnected] [camicon]{transform: rotate(22deg);position: relative;animation: powercab 0.5s 0.4s forwards;transform: translateY(12px) rotate(22deg);}
[disconnected] [camicon]::before {position: absolute;bottom: 0;left: 40%;background: #c2c2c2;width: 14px;height: 18px;content: '';animation: disconnect 0.5s 0.4s forwards;}
@keyframes disconnect{from{transform: translate(0px);}to{transform: translate(10px,45px) rotate(-30deg);}}
@keyframes powercab {from{transform: translateY(12px) rotate(22deg);}to{transform: translateY(0px) rotate(30deg);}}
[capturing]{filter: brightness(0.28) contrast(1.8) !important;}
[stream]{animation: open-str 0.3s;}
@keyframes open-str{from{filter: blur(50px) brightness(100);transform: scale(0);}to{filter: none;transform: scale(1);}}
@media (max-width:901px){flpop{width: 90%;height: 70%;}}
[float='float']{backdrop-filter: blur(20px);-webkit-backdrop-filter: blur(20px);}
loading {width: 100px;height: 100px;position: fixed;z-index: +9999;transform: translate(-50%,-50%) scale(1);left: 50%;top: 50%;background: var(--backdrop-bg-nonres);box-shadow: 0px 10px 13px #0006;transition: 0.3s !important;border-radius: 20px;backdrop-filter: blur(15px);-webkit-backdrop-filter: blur(20px);}
loading[closing]{transform: translate(-50%,-50%) scale(0);border-radius: 25px;}
loading::after {content: 'loading';position: absolute;bottom: 0;left: 0;width: 100%;text-align: center;font-size: 10px;color: #434343b0;mix-blend-mode: color-burn;margin: 7px 0px;text-transform: uppercase;font-weight: 600;}
@supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {popup,dashboard,flpop,linkindicator,loading{background: var(--backdrop-bg);}}
