<!DOCTYPE html>
<html>
    <head>
     <script src="{{url_for('static',filename='main.js')}}"></script>
     <script src="{{url_for('static',filename='socket.io.min.js')}}"></script>
     <link rel="icon" href="{{url_for('static',filename='Assets/favicon.png')}}" type="image/x-icon" media="(prefers-color-scheme: light)">
     <link rel="icon" href="{{url_for('static',filename='Assets/favicon-l.png')}}" type="image/x-icon" media="(prefers-color-scheme: dark)">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>FluxLAN</title>
    </head>
    <img logo alt="FluxLAN" src="{{url_for('static',filename='Assets/logo.png')}}" height="20px">
    <video width="100%"  height="100%" autoplay muted playsinline alt="stream" style="border-radius: 5px;"></video>
    <canvas dupSEc='object' style="display: none;"></canvas>
    <button stealth="b" style="color: rgb(65, 65, 65);border-radius: 50px;border: none;outline: none;background-color: rgb(231, 231, 231);font-family: Inter,SF Pro,Arial,sans-serif;">Stealth mode</button>
</html>
