<!DOCTYPE html>
<html>
    <head>
     <script src="{{url_for('static',filename='socket.io.min.js')}}"></script>
     <script src="{{url_for('static',filename='lottie.min.js')}}"></script>
     <script src="{{url_for('static',filename='admin.js')}}"></script>
     <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
     <link rel="icon" href="{{url_for('static',filename='Assets/favicon.png')}}" type="image/x-icon" media="(prefers-color-scheme: light)">
     <link rel="icon" href="{{url_for('static',filename='Assets/favicon-l.png')}}" type="image/x-icon" media="(prefers-color-scheme: dark)">
     <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static',filename=favicon-l.png')}}">
     <title>FluxLAN Dashboard</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <full>
    <dashboard visible="yuh"><img logo alt="FluxLAN" src="{{url_for('static',filename='Assets/logo.png')}}"></dashboard>
    <cover></cover>
    </full>
    <webview-loading></webview-loading>
    <loading></loading>
</html>
