<!DOCTYPE html>
<html>
    <head>
     <script src="{{url_for('static',filename='socket.io.min.js')}}"></script>
     <script src="{{url_for('static',filename='admin.js')}}"></script>
     <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
     <link rel="icon" href="{{url_for('static',filename='Assets/favicon.png')}}" type="image/x-icon" media="(prefers-color-scheme: light)">
     <link rel="icon" href="{{url_for('static',filename='Assets/favicon-l.png')}}" type="image/x-icon" media="(prefers-color-scheme: dark)">
     <title>FluxLAN Dashboard</title>
    </head>
    <full>
    <dashboard visible="yuh"><img logo alt="FluxLAN" src="{{url_for('static',filename='Assets/logo.png')}}"></dashboard>
    <cover><img src="" c="0" stream="src" alt="stream" admin>
    </full>
</html>
